<!DOCTYPE html>
<title>Shiny Counter</title>
<div class=page>
    <h1>Your shiny hunting progress
        <button class="create-hunt" onclick="createHunt();">Create Hunt</button>
    </h1>
    <ul class=entries>
        {% for entry in entries %} {% if not entry.is_finished %}
        <li>
            <a href="{{ url_for('counter_home', pokemon_id=entry.id) }}">{{ entry.name }} - {{ entry.count }}</a>
            {% endif %} {% endfor %}
    </ul>
    <h1>Completed Hunt</h1>
    <ul class=entries>
        {% for entry in entries %} {% if entry.is_finished %}
        <li>{{ entry.name }} - {{ entry.count }} {% endif %} {% endfor %}
    </ul>
</div>
<script>
    function createHunt() {
        var pkmName = prompt("Please enter pokemon name", "");
        if (name != null) {
            fetch("{{ url_for('list_pokemon') }}", {
                method: 'post',
                headers: {
                  'Accept': 'application/json, text/plain, */*',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({name: pkmName})
              })
                .then(res => window.location.reload());
        }
    };
</script>